body{
  height: 100%;
}
.cursor-pointer{
  cursor: pointer;
}
.app-container{
  background: #eee;
}
.main-body{
  min-height: 800px;
}
.info-block{
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
footer{
  background: #000;
  color: #fff;
}